.App {
  text-align: center;
}
.App-header {
  background-color: #222222;
  color: #FFF;
}
.App-logo {
  max-width: 100%;
}
.NavbarBackgroud{
    background-color: #212529;
}
.textcolorNav{
    color: #FFF;
}
.spacingNavbarleft{
  padding-left: 10%;
}
.spacingNavbarRight{
  padding-right: 10%;
}
.App-logo {
  height: 40vmin;
  width: max-content;
  pointer-events: none;
}
.imgExample{
  max-height: 100%;  
  max-width: 100%;
}
.imgContainer{
  width: 250px;
  height: 250px;
  align-content: center;
}
acolor{
  color: #FFF;
}
.portfoliodiv{
  width: 250px;
  height: 380px;
}
.buttonPortfolio{
  margin: 5%;
}
hr {
  background-color: initial;
  background-image: linear-gradient(90deg,transparent,#5BD796,transparent);
  border: 0;
  height: .1rem!important;
  max-width: 100%;
  opacity: 1;
}
.imgExampleSkillSet{
  width: 85px;
  margin: 3%;
}
.skillbox{
    box-sizing: border-box;
}
.contact{
  align-items: center;
}


@media (max-width: 767.98px) {
  .grid-container {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}


}

@media (min-width: 768px) {
  .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 10px;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}



}